@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300&family=Roboto+Condensed:wght@300&display=swap");


body
{
    color: whitesmoke;
    background-color: gray;
    font-family: 'Roboto Condensed', sans serif;
    color: black;
}